<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Annuaire{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <meta charset="UTF-8">
        <meta name = "author" content = "Julien MARTIN"/>
        <meta name = "description" content = "La Nîmes'Alerie, site de vente de divers produits pour animaux"/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('font/bootstrap-icons.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
        <script rel="script" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
